*{
    padding: 0;
    margin: 0;
}
.layui-container{
    padding: 0;
}

.clean{
    clear: both;
}

/* 顶部导航栏开始 */
.top-navigation-bar{
    height: 32px;
    background-color: #F2F2F2;
    border-bottom: 1px solid #E5E5E5;
}

.top-container{
    height: 32px;
}
.top-container>p{
    float: left;
    font-size: 13px;
    color: #999999;
    line-height: 32px;
}
.top-container>p>span{
    padding-right: 5px;
}
.top-container>p>span>a{
	color: #666;
	padding: 0 5px;
    cursor: pointer;
	font-size: 13px;
}
.top-container>p>span>a:hover{
	color: #666;
}
.top-container>p>a{
    color: #999999;
    padding-left: 10px;
}
.top-container>p>a:hover{
    color: #FF0036;
    text-decoration: underline;
}

/* 小菜单区域 */
.top-container ul{
    float: right;
    font-size: 13px;
    color: #999999;
}
.top-container>ul>li{
    padding: 0 10px;
    line-height: 32px;
    display: inline-block;
}
.top-container>ul>li>a:hover{
    color: #FF0036;
}
.top-container>ul>li>a>span{
	color: #000;
    padding: 0 2px;
	font-size: 14px;
    font-weight: bold;
}
.top-container>ul>li>a:hover > span{
    color: #FF0036;
}
.top-container>ul>li>a{
    color: #999999;
}
.top-container>ul>li>i{
    padding-right: 3px;
}
.top-container>ul>li>span{
    padding: 0 2px;
    color: #666666;
    font-weight: bold;
}
/* 顶部导航栏结束 */


/* 顶部搜索栏开始 */
.top-search-box{
    height: 130px;
}
.top-search-container{
    height: 130px;
}
.search-box{
    font-size: 0;
    height: 106px;
}
.search-box input{
    width: 500px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 15px;
    margin-top: 35px;
    margin-left: 25%;
    border-top: 2px solid #FF0036;
    border-left: 2px solid #FF0036;
    border-bottom: 2px solid #FF0036;
}
.search-box input[type=search]::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
.search-box button{
    position: relative;
    top: 1px;
    width: 130px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #FF0036;
}
.search-box ul li{
    font-size: 13px;
}
.logo{
    position: absolute;
    top: 0;
    width: 240px;
    height: 130px;
    background-size: 120px;
    background-color: #C8BAAA;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/static/logo.png');
}
/* 顶部搜索栏结束 */


/* 条件筛选区域开始 */
.screening-area{
    border: 1px solid #EEE;
}
.screening-area>ul{
    border-bottom: 1px solid #EEE;
}
.screening-area>ul>li{
    float: left;
    cursor: pointer;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
}
.screening-area>ul>li:first-child{
    width: 100px;
    background-color: #EEE;
}
.screening-area>ul:last-child{
    border-bottom: none;
}
.screening-area>ul>li:nth-child(n+2):hover{
    color: #FF0036;
}
.condition-selected{
    color: #FF0036;
}
/* 条件筛选区域结束 */


/* 商品列表开始 */
.commodity-list-box{
    margin-top: 30px;
}
.commodity-list-box>ul>li{
    float: left;
    width: 208px;
    padding: 5px;
    height: 280px;
    cursor: pointer;
    margin: 0 14px 14px 0px;
    border: 1px solid #EEE;
}
.commodity-list-box>ul>li:hover{
    border: 1px solid #FF0036;
}
.commodity-list-box>ul>li>img{
    width: 207px;
    height: 207px;
}
.commodity-list-box>ul>li>span.comm-price{
    height: 30px;
    margin-top: 5px;
    display: block;
    font-size: 15px;
    color: #FF0036;
    line-height: 30px;
}
.commodity-list-box>ul>li>span.comm-price>a{
    font-size: 20px;
    color: #FF0036;
    font-weight: bold;
}
.commodity-list-box>ul>li>a.comm-name{
    display: block;
    font-size: 12px;
    height: 33px;
    overflow: hidden;
}
.commodity-list-box>ul>li>a.comm-name:hover{
    color: #FF0036;
    text-decoration: underline;
}
.commodity-list-box>ul>li>div.comm-info{
    height: 20px;
    background-color: red;
}
.no-products{
	font-size: 16px;
    text-align: center;
}
/* 商品列表结束 */


/* 分页开始 */
.pagination-area{
    margin-top: 20px;
}
.pagination-area>ul>li{
    float: left;
    height: 19px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    line-height: 19px;
    padding: 10px 16px;
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}
.pagination-area>ul>li:hover{
    color: #00CCFF;
}
.pagination-area>ul>li:first-child{
    border-radius: 5px 0 0 5px;
    border-left: 1px solid #DDD;
}
.pagination-area>ul>li:last-child{
    border-radius: 0 5px 5px 0;
}
.pagination-selected{
    color: #FFF !important;
    background-color: #FF5722;
    border: 1px solid #FF5722 !important;
}
.pagination-disable{
    color: #DDD !important;
    cursor: not-allowed !important;
}
/* 分页结束 */


/* 底部说明开始 */
.bottom-hr{
    margin-top: 80px;
}
.description-box{
    height: 100px;
    margin-bottom: 50px;
}
.description-box>ul>li{
    float: left;
    width: 290px;
    height: 100px;
    margin: 0 1px;
    text-align: center;
}
.description-box>ul>li>span.shorthand{
    display: block;
    float: left;
    width: 45px;
    height: 45px;
    font-size: 20px;
    color: #FF0036;
    margin-top: 25px;
    font-weight: bold;
    line-height: 45px;
    margin-left: 40px;
    border-radius: 25px;
    border: 2px solid #FF0036;
}
.description-box>ul>li>span.description{
    float: left;
    margin-top: 25px;
    margin-left: 15px;
}
.description-box>ul>li>span.description>a{
    line-height: 25px;
    text-align: left;
}
.description-box>ul>li>span.description>a:first-child{
    display: block;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
.description-box>ul>li>span.description>a:nth-child(2){
    color: #999;
    font-size: 15px;
    font-weight: bold;
}
/* 底部说明结束 */