<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="'搜索 - ' + ${keyword}">搜索</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/static/css/search.css}">
</head>
<body>
    
    <!-- 顶部导航栏 -->
    <div class="top-navigation-bar">
        <div class="layui-container top-container">
            <!-- 登录注册区域 -->
            <p>
                <i class="layui-icon layui-icon-home"></i><a th:href="@{/index}">商城首页</a>
                <span>欢迎<a th:if="${username} != null" th:text="${username}"></a>来到名博商城网</span>
                <a th:if="${username == null}" th:href="@{/member/login}">请登录</a>
                <a th:if="${username == null}" th:href="@{/member/register}">免费注册</a>
                <a th:if="${username != null}" th:href="@{/logout}">退出</a>
            </p>

            <!-- 小菜单区域 -->
            <ul>
                <li>
                	<i class="layui-icon layui-icon-cart" style="font-size: 16px;color: #FF0036;"></i>
                	<a th:href="@{/cart}">购物车
                		<span th:if="${cartCount != null}" th:text="${cartCount}" id="cart-count">0</span>
                		<span th:if="${cartCount == null}" id="cart-count">0</span>件
                	</a>
                </li>
                <li><a th:href="@{/order}">我的订单</a></li>
            </ul>
        </div>
    </div>


    <!-- 顶部搜索栏 -->
    <div class="top-search-box">
        <div class="layui-container top-search-container">
            <!-- 搜索框 -->
            <div class="search-box">
                <input type="search" placeholder="搜索 商品" th:value="${keyword}"/>
                <button>搜索</button>
                <div class="logo"></div>
            </div>
        </div>
    </div>


    <!-- 条件筛选区域 -->
    <div class="layui-container screening-area">
        <!-- 按品牌筛选 -->
        <ul>
            <li>品牌</li>
            <li id="-1" th:class="${brand==null} ? 'condition-selected brand-paramter' : 'brand-paramter'">全部</li>
            <li th:each="b,status : ${brands}" th:class="${brand==b.id} ? 'condition-selected brand-paramter' : 'brand-paramter'" th:id="${b.id}" th:text="${b.name}" class="brand-paramter"></li>
        </ul>
        <!-- 清除浮动 -->
        <div class="clean"></div>
    </div>

    <!-- 商品列表 -->
    <div class="layui-container commodity-list-box">
        <ul>
            <!-- 商品项 -->
            <li th:each="commodity : ${commoditys.list}" data-comm-id="${commodity.id}">
                <img th:src="@{/static/commodity/{image}(image=${commodity.homePicture})}" alt="">
                <span class="comm-price">¥<a th:text="${commodity.price}">0.00</a></span>
                <a class="comm-name" th:text="${commodity.name}" th:href="@{/commodity/details(id=${commodity.id})}"></a>
            </li>
        </ul>
        <!-- 清除浮动 -->
        <div class="clean"></div>
        
        <div th:if="${commoditys.list.size() == 0}" class="no-products">暂无商品信息</div>
    </div>


    <!-- 分页 -->
    <div class="layui-container pagination-area">
        <ul th:if="${commoditys.list.size() != 0}">
            <li th:class="${commoditys.hasPreviousPage} ? '' : 'pagination-disable'" th:data-page="${commoditys.prePage}">上一页</li>
            <li th:each="page : ${commoditys.navigatepageNums}" th:data-page="${page}" th:class="${page == commoditys.pageNum} ? 'pagination-selected' : ''" th:text="${page}"></li>
            <li th:class="${commoditys.hasNextPage} ? '' : 'pagination-disable'" th:data-page="${commoditys.nextPage}">下一页</li>
        </ul>
        <!-- 清除浮动 -->
        <div class="clean"></div>
    </div>



    <hr class="bottom-hr">
    <!-- 底部说明 -->
    <div class="layui-container description-box">
        <ul>
            <li>
                <span class="shorthand">优</span>
                <span class="description"><a>品质保障</a><a>品质护航&nbsp;&nbsp;购买无忧</a></span>
            </li>
            <li>
                <span class="shorthand">七</span>
                <span class="description"><a>七天无理由退换货</a><a>为您提供售后无忧保障</a></span>
            </li>
            <li>
                <span class="shorthand">特</span>
                <span class="description"><a>特色服务体验</a><a>为您呈现不一样的服务</a></span>
            </li>
            <li>
                <span class="shorthand">帮</span>
                <span class="description"><a>帮助中心</a><a>您的购物指南</a></span>
            </li>
        </ul>
    </div>


	<!-- 引入JS -->
    <script th:src="@{/static/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/static/layui/layui.js}"></script>
    <script th:src="@{/static/js/search.js}"></script>
</body>
</html>